*{
    margin: 0;
    padding: 0;
}

.hero{
 background-color:rgb(214, 211, 206); 
 text-align: center; 
 width: 100%;
 display: flex;
 
}
.content{
    border:1px solid black ;
     width: 100%;
     padding:100px ; 
}
.content h1{
    color: rgb(0, 153, 255);
   
}
.content p{
    color: rgb(32, 32, 32);
    font-weight: bold;
    padding-top: 20px;
}
